<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <title>Demo LTI Tool</title>
  </head>
  <body>
    <p>Hi, <%= @username %>, this is an LTI tool. I hope you learned a lot.</p>
    <% if @tp.instructor? %>
      <p>You are a teacher, so you could configure this tool now if it were cool enough to have configurations.</p>
      <p>If you come back as a student you may get to take a test.</p>
    <% elsif @tp.student? %>
      <p>You're lucky this isn't an assessment launch, you just get to sit here and do nothing.</p>
    <% elsif @tp.roles && @tp.roles.any? %>
      <p>Your roles are <%= @tp.roles.join(",") %></p>
    <% else %>
      <p>You don't have a role so I don't know what to do with you.</p>
    <% end %>
    <p>  Here are the params that were passed to the tool: </p>
    <p>
      <% params.each do |k,v| %>
      <b><%= k %>:</b> <%= v%><br>
      <% end %>
    </p>
    <p>
      These are the two parts that are used to sign the request.  The signature is
      calculated using <%= params['oauth_signature_method'] %>, and then it
      is encoded to base64.
    </p>
    <p>
      <b>signature_base_string</b><br>
      <textarea style="width: 100%; height: 150px" readonly="readonly"><%= @signature_base_string %></textarea>
    </p>
    <p>
      <b>secret</b><br>
      <textarea rows="1" style="width: 100%" readonly="readonly"><%= @secret %></textarea>
    </p>
    <%= erb :_return_to_lms %>
    <%= @tp.inspect %>
    <%= File.read('public/AV/Sorting/quicksortPRO.html') %>
  </body>
</html>