<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Blockpy/Kennel/Silicon</title>
    
    <!-- Style sheets -->
    <link rel="stylesheet" href="libs/bootstrap.min.css">
    <link rel="stylesheet" href="libs/codemirror/codemirror.css">
    <link rel="stylesheet" href="libs/font-awesome.min.css">
    <link rel="stylesheet" href="libs/summernote/summernote.css">
    <link rel="stylesheet" href="kennel/kennel.css">
    
    <!-- JQuery, D3, Math.js, Bootstrap -->
    <script type="text/javascript" src="libs/jquery.js"></script>
    <script type="text/javascript" src="libs/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="libs/d3.min.js"></script>
    <script type="text/javascript" src="libs/math.0.19.0.min.js"></script>
    <script type="text/javascript" src="libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="libs/bootstrap-wysiwyg.js"></script>
    <script type="text/javascript" src="libs/mindmup-editabletable.js"></script>
    <script type="text/javascript" src="libs/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="libs/codemirror/python.js"></script>
    <script type="text/javascript" src="libs/codemirror/htmlmixed.js"></script>
    <script type="text/javascript" src="libs/codemirror/xml.js"></script>
    
    <!-- Summernote, a rich text editor -->
    <script type="text/javascript" src="libs/summernote/summernote.min.js"></script>
    <script type="text/javascript" src="libs/summernote/summernote-ext-hint.js"></script>
    <script type="text/javascript" src="libs/summernote/summernote-ext-video.js"></script>
    
    <!-- Datasets -->
    <script type="text/javascript" src="libs/crime_data.js"></script>
    
    <!-- Blockly -->
    <script type="text/javascript" src="blockly/blockly_compressed.js"></script>
    <script type="text/javascript" src="blockly/blocks_compressed.js"></script>
    <script type="text/javascript" src="blockly/python_compressed.js"></script>
    <script type="text/javascript" src="blockly/javascript_compressed.js"></script>
    <script type="text/javascript" src="blockly/msg/js/en.js"></script>
    
    <!-- Skulpt -->
    <script type="text/javascript" src="skulpt/dist/skulpt.min.js"></script>
    <script type="text/javascript" src="skulpt/dist/skulpt-stdlib.js"></script>
    
    <!-- Analyzer -->
    <script type="text/javascript" src="analyzer/analyzer.js"></script>
    <script type="text/javascript" src="analyzer/python_errors.js"></script>
    
    <!-- Converter -->
    <script type="text/javascript" src="converter/reverse_ast.js"></script>
    <script type="text/javascript" src="converter/python_to_blockly.js"></script>
    
    <!-- Analyzer -->
    <script type="text/javascript" src="kennel/kennel.js"></script>
    
    <!-- Renderer -->
    <script type="text/javascript" src="converter/renderBlocklyToPng.js"></script>
    
</head>

<body>
<div id="kennel-div" style='height:100%'></div>

<script>
function getQueryParams(){
    try{
        url = window.location.href;
        query_str = url.substr(url.indexOf('?')+1, url.length-1);
        r_params = query_str.split('&');
        params = {}
        for( i in r_params){
            param = r_params[i].split('=');
            params[ param[0] ] = param[1];
        }
        return params;
    }
    catch(e){
       return {};
    }
}
$(document).ready(function() {
    var params = getQueryParams();
    if (localStorage.getItem('__main__') === null) {
        body = $("#default-body").text();
    } else {
        body = localStorage.getItem('__main__');
    }
    body = $("#default-body").text();
    var view = "blocks"
    if ("view" in params) {
        if (params["view"] == "text") {
            view = "text";
        } else if (params["view"] == "blocks") {
            view = "blocks";
        } else {
            console.log("Unknown view:", params["view"]);
            view = "blocks";
        }
    }
    kennel = new Kennel(document.getElementById('kennel-div'),
                        document.getElementById('toolbox'),
                        'instructor', // Instructor mode
                        $("#problem-presentation").text(), // problem
                        body, // Current code
                        $('#default-on-run').html(), // On run code
                        "def on_step(code, output, properties):\n    pass", // On step code
                        "alpha = 0", // Starting code
                        false,
                        view
                        );
    if ("url" in params) {
        $.get(decodeURIComponent(params["url"]), function(result) { kennel.setCode(result);});   
    }
  });
</script>
<pre id='problem-presentation' style='display:none'>
<%= @problem_presentation %>
</pre>
<pre id='default-body' style='display:none'>
<%= @program_code %>
</pre>
<pre id='default-on-run' style='display:none'>
<%= @program_on_run %>
</pre>

<xml id="toolbox" style="display: none">
    <category name="Properties" custom="VARIABLE">
    </category>
    <category name="Decisions">
        <block type="controls_if"></block>
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_negate"></block>
    </category>
    <category name="Iteration">
        <block type="controls_forEach"></block>
    </category>
    <category name="Functions" custom="PROCEDURE">
    </category>
    <category name="Calculation">
        <block type="raw_table"></block>
        <block type="math_arithmetic"></block>
        <block type="type_check"></block>
        <block type="raw_block"></block>
        <block type="raw_expression"></block>
        <block type="raw_empty"></block>
        <!--<block type="math_single"></block>
        <block type="math_number_property"></block>
        <block type="math_round"></block>
        <block type="text_join"></block>-->
    </category>
    <category name="Output">
        <block type="text_print"></block>
        <block type="text_print_multiple"></block>
        <block type="plot_line"></block>
        <block type="plot_scatter"></block>
        <block type="plot_show"></block>
        <block type="plot_title"></block>
    </category>
    <sep></sep>
    <category name="Values">
        <block type="text"></block>
        <block type="math_number"></block>
        <block type="logic_boolean"></block>
    </category>
    <category name="Lists">
        <block type="lists_create_with"></block>
        <block type="lists_create_empty"></block>
        <block type="lists_append"></block>
        <block type="lists_length"></block>
    </category>
    <category name="Dictionaries">
        <block type="dicts_create_with"></block>
        <block type="dict_get_literal"></block>
        <block type="dict_keys"></block>
    </category>
    <sep></sep>
    <category name="Data - Weather">
        <block type="weather_temperature"></block>
        <block type="weather_report"></block>
        <block type="weather_forecasts"></block>
        <block type="weather_report_forecasts"></block>
        <block type="weather_all_forecasts"></block>
        <block type="weather_highs_lows"></block>
    </category>
    <category name="Data - Stock">
        <block type="stocks_current"></block>
        <block type="stocks_past"></block>
    </category>
    <category name="Data - Earthquakes">
        <block type="earthquake_get"></block>
        <block type="earthquake_both"></block>
        <block type="earthquake_all"></block>
    </category>
    <category name="Data - Crime">
        <block type="crime_state"></block>
        <block type="crime_year"></block>
        <block type="crime_all"></block>
    </category>
    <category name="Data - Books">
        <block type="books_get"></block>
    </category>
</xml>
  
<!-- Google Analytics -->
<script>
switch(window.location.protocol) {
case 'file:':
    break;
default:
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-38802329-2', 'auto');
    ga('send', 'pageview');
    }
</script>

</body>
</html>

<script>
  var TP = TP || {};
  <% if defined? @tp %>
  <% if @tp.outcome_service? %>
	  TP.outcomeService = true;
  <% else %>
  	TP.outcomeService = false;
  <% end %>
  TP.toParams = {};
  TP.toParams.launch_params = {};
  <% @tp.to_params.each do |key, value| %>
    TP.toParams.launch_params.<%= key %> = "<%= value %>";
  <% end %>
  <% end %>
</script>
